/* ==========================================================================
   Component - Navigation
   ========================================================================== */

.c-nav {
  display: flex;
  gap: var(--space-lg);
}

.c-nav__item a {
  font-size: var(--font-size-sm);
  font-weight: bold;
  position: relative;
}

.c-nav__item a::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: var(--transition-base);
}

.c-nav__item a:hover::after {
  width: 100%;
}

.c-nav__item a:hover {
  opacity: 1;
  color: var(--color-primary);
}

@media (max-width: 767px) {
  .c-nav {
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
  }

  .c-nav__item a {
    font-size: var(--font-size-lg);
  }
}
