/* ==========================================================================
   Utility - Margin & Padding
   ========================================================================== */

/* Margin Top */
.u-mt-0 { margin-top: 0; }
.u-mt-10 { margin-top: 1rem; }
.u-mt-20 { margin-top: 2rem; }
.u-mt-30 { margin-top: 3rem; }
.u-mt-40 { margin-top: 4rem; }
.u-mt-50 { margin-top: 5rem; }
.u-mt-60 { margin-top: 6rem; }
.u-mt-80 { margin-top: 8rem; }
.u-mt-100 { margin-top: 10rem; }

/* Margin Bottom */
.u-mb-0 { margin-bottom: 0; }
.u-mb-10 { margin-bottom: 1rem; }
.u-mb-20 { margin-bottom: 2rem; }
.u-mb-30 { margin-bottom: 3rem; }
.u-mb-40 { margin-bottom: 4rem; }
.u-mb-50 { margin-bottom: 5rem; }
.u-mb-60 { margin-bottom: 6rem; }
.u-mb-80 { margin-bottom: 8rem; }
.u-mb-100 { margin-bottom: 10rem; }

/* Padding Top */
.u-pt-0 { padding-top: 0; }
.u-pt-20 { padding-top: 2rem; }
.u-pt-40 { padding-top: 4rem; }
.u-pt-60 { padding-top: 6rem; }
.u-pt-80 { padding-top: 8rem; }

/* Padding Bottom */
.u-pb-0 { padding-bottom: 0; }
.u-pb-20 { padding-bottom: 2rem; }
.u-pb-40 { padding-bottom: 4rem; }
.u-pb-60 { padding-bottom: 6rem; }
.u-pb-80 { padding-bottom: 8rem; }
