/* ==========================================================================
   Base Styles
   ========================================================================== */

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  line-height: 1.8;
  color: var(--color-text);
  background-color: var(--color-bg);
  padding-top: var(--header-height);
}

a {
  transition: var(--transition-base);
}

a:hover {
  opacity: 0.7;
}

img {
  height: auto;
}

@media (max-width: 767px) {
  body {
    padding-top: 6rem;
  }
}
